* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  background-color: #f1f3f5;
  color: #495057;
}

figure,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 2rem 0;
}
img {
  width: 20rem;
  border-radius: 1rem;
}
.container {
  margin: 3rem auto;
  width: 90rem;
  padding: 2rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}
a:link {
  color: #444;
  text-decoration: none;
  font-size: 2rem;
  margin-right: 1rem;
}

a:visited {
  color: #444;
}

.bio {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}
article h3 {
  font-size: 3rem;
}
article ul,
ol {
  font-size: 2rem;
}
.school {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h3 {
  font-size: 2rem;
}
article {
  margin-left: 3rem;
  margin-bottom: 3rem;
}
li {
  list-style: square;
}
.contact,
.register {
  margin: 4rem 0;
}
.title-content {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.form-item {
  padding: 1rem;
  font-size: 2rem;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
label {
  display: block;
  margin-bottom: 1rem;
  font-size: 2rem;
}
input,
textarea {
  padding: 2rem;
}
button {
  padding: 2rem;
  grid-column: 1 / -1;
  background-color: #495057;
  color: white;
  font-size: 2rem;
  border: none;
  /* margin: 1rem auto; */
}
input,
select,
textarea {
  width: 100%;
}
.login-item {
  grid-column: 1 / -1;
}
.btn-contact:link,
.btn-contact:visited {
  padding: 2rem;
  background-color: #444;
  color: white;
}
