* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  margin: 0 auto;
  width: 50rem;
  background-color: #dee2e6;
  grid-template-columns: repeat(5, 1fr);
  box-shadow: 0 0 4.8rem rgba(0, 0, 0, 0.6);
}
.box-item {
  height: 10rem;
  font-size: 5rem;
  padding: 1.5rem 4rem;
}
.box-item:nth-child(even) {
  background-color: #66a80f;
}
.box-item:nth-child(odd) {
  background-color: #e9ecef;
}
